/*
    336ca6
    295685
    e7e7e7
    253342
    */

* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI';
}

img {
    border: 0px;
}

body, html {
    width: 100%;
    height: 100%;
}

/*
    INDEX BACKGROUND
    */
#index-container {
    width: 960px;
    height: auto;
    min-height: 100%;
    overflow: hidden;

    margin-left: auto;
    margin-right: auto;

    border-left: 1px solid #336ca6;
    border-right: 1px solid #336ca6;
    background-color: #ecf6ff;

    position:relative;
}

.header {
    width: 100%;
    height: 100px;
}

.logo {
    margin: 10px;
    display: block;
    position: absolute;
}

.menu {
    width: 700px;
    float:right;
    list-style: none;
    margin-top: 30px;
    position:relative;
}

    .menu li>a {
        display:block;
        float:right;
        text-decoration:none;
        font-size: 20px;
        color: #253342;
        text-transform:uppercase;
        margin-left: 10px;
        padding: 5px 20px;
    }

        .menu li a:hover {
            background-color:#336ca6;
            color: #ecf6ff;
        }


.login-container {
    position:absolute;
    right: 0px;
    top: 37px;

    width: 320px;
    height: 120px;

    background-color:#336ca6;
    color: #ecf6ff;
    padding: 10px;

    display:none;
    z-index: 200;
}

    .login-container .login-form {
        
    }

.login-content-item {
    clear:both;
}

.login-content-item .item-label{
    float:left;
    width: 40%;
    padding: 3px;
    font-size: 14px;
    text-transform:none;
    line-height: 28px;
}

    .login-content-item .item-editor {
        padding: 3px;
    }

#btnLogin {
    background-color: #295685;
    border: 0px;
    padding: 5px 20px;
    color: #ecf6ff;
}
.btnDangKy {
    font-size: 14px;
    display: block;
    width: 70px;
    text-decoration: none;
    background-color: #295685;
    border: 0px;
    padding: 5px 20px;
    color: #ecf6ff;
    text-align:center;
    position:absolute;
    right: 0px;
}
.user-info {
    position:absolute;
    right: 0px;
    top: 80px;

    background-color:#336ca6;
    color: #ecf6ff;
    padding: 10px;
    z-index: 150;
}

#index-content {
    
}

.cover-image {
    margin-top: 10px;
}
.index-title {
    width: 370px;
    padding: 10px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: #295685;
    color: #ecf6ff;
    position:absolute;
    margin-top: -30px;
    margin-left: 20px;
    text-align:center;
}


.list-new-prop {
    width: 100%;
    padding: 10px;
    margin-top: 20px;

    height: auto;
    overflow: hidden;
}

.prop-item {
    width: 220px;
    overflow: hidden;
    padding-bottom: 30px;

    border: 1px solid #336ca6;
    border-top: 7px solid #336ca6;

    float:left;
    margin: 7px;

    position:relative;
}
.prop-item:hover {
    background-color:#fff;
}

.prop-name {
    padding:5px;
    font-weight:bold;
}

.prop-img {
    width: 100%;
    height: 160px;

    overflow:hidden;
}

    .prop-img img {
        height: 100%;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
.prop-add {
    font-size: 13px;
    text-align:justify;
    padding: 3px;
}

    .prop-add span {
        font-weight: bold;
    }
.prop-price {
    text-align:right;
    font-weight:bold;
    padding:5px;
}

.prop-detail a {
    display: block;
    text-decoration: none;
    padding: 3px 10px;
    background-color: #336ca6;
    color: #ecf6ff;
    width: 50px;
    font-size: 13px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
}

.prop-mieuta {
    overflow:hidden;
    margin:20px 0 20px 0;
}
.prop-hinhanh {
    overflow:hidden;
    padding:10px;
}
.prop-hinhanh-img {
    max-width: 200px;
    margin:5px 10px 5px 0px;

    display:inline-block;
}
    .prop-hinhanh-img:hover {
        outline:3px solid #295685;
    }

.btn {
    padding:8px 15px;
    color:#fff;
    text-decoration:none;
    background-color:#295685;
    display:inline-block;
}
    .btn:hover {
        background-color:rgb(51, 108, 166);
    }
    .btn:active {
        background-color:#000;
    }

.vnd {
    font-size: 10px;
}



.main-content {
    width: 100%;
    padding: 10px;
    margin-top: 20px;

    height: auto;
    overflow: hidden;
}

.required-field {
    color: #ff0000;
}
.editor-item {
    width: 100%;
    padding: 5px;
    clear: both;
}
.editor-item .editor-label{
    width: 20%;
    float: left;
    font-size: 17px;
}
.editor-item .editor-input{
    font-size: 16px;
    
}

.main-content  a {
    -webkit-transition : all 0.1s ease 0.2s;
	   -moz-transition : all 0.1s ease 0.2s;
	     -o-transition : all 0.1s ease 0.2s;
	        transition : all 0.1s ease 0.2s;
}

.main-content input[type=text], .main-content input[type=password]  {
    width: 300px;
    font-size: 17px;
}

.main-content textarea {
    width: 302px;
    height: 150px;
    font-size: 17px;
}

.main-content select {
    width: 305px;
    font-size: 17px;
}

.main-content .submit {
    display: block;
    padding: 0.5em 0.7em;
    outline: none;
    color: #e7e7e7;
    background: #336ca6;
    text-align: center;
    text-decoration: none;
    text-transform:uppercase;
    border: 0px;
}

.field-validation-error {
    color: #ff0000;
}














.footer {
    width: 100%;
    overflow:hidden;
    background-color: #336ca6;

    padding:20px;
}