@model dbQLBDS.Models.TaiKhoan
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="index-content">
    <div class="cover-image">
        <img src="@Url.Content("~/Content/images/wall1.jpg")" />
    </div>
    <h2 class="index-title">Đăng ký
    </h2>
    
    
    <div class="main-content">
        <form id="frmDangKy" method="post" action="" name="frmDangKy">
            <div class="editor-item">
                <div class="editor-label">
                    Email:<span class="required-field">*</span>
                </div>
                <div class="editor-input">
                    <input type="text" name="txtTenCanHo" id="txtTenCanHo" class="input-txt" />
                </div>
            </div>

            <div class="editor-item">
                <div class="editor-label">
                    Mật khẩu:<span class="required-field">*</span>
                </div>
                <div class="editor-input">
                    <input type="text" name="txtTenCanHo" id="txtTenCanHo" class="input-txt" />
                </div>
            </div>

            <div class="editor-item">
                <div class="editor-label">
                    Họ và Tên:<span class="required-field">*</span>
                </div>
                <div class="editor-input">
                    <input type="text" name="txtTenCanHo" id="txtTenCanHo" class="input-txt" />
                </div>
            </div>

            <div class="editor-item">
                <div class="editor-label">
                    Ngày sinh: 
                </div>
                <div class="editor-input">
                    <input type="text" name="txtTenCanHo" id="txtTenCanHo" class="input-txt" />
                </div>
            </div>

        </form>
    </div>
</div>
