@using dbQLBDS.Models;
@model List<CanHo>
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="index-content">
    <div class="cover-image">
        <img src="@Url.Content("~/Content/images/wall1.jpg")" />
    </div>
    <h2 class="index-title">
        Danh sách các căn hộ mới
    </h2>

    <div class="list-new-prop">
        @foreach (CanHo item in Model)
        {
            <div class="prop-item">
                <div class="prop-name">
                    @item.TenCanHo
                </div>
                <div class="prop-add">
                    @item.DiaChi
                </div>
                <div class="prop-price">
                    @item.GiaThue <sup class="vnd">VNĐ</sup>
                </div>
                <div class="prop-detail">
                    <a href="/ChiTietCanHo?id=@item.MaCanHo" data-url="/ChiTietCanHo?id=@item.MaCanHo" data-key="false" class="url-chitiet" >Chi tiết</a>
                </div>
            </div>
        }
    </div>
    <input type="checkbox" value="dirtyread" id="chk_dirtyread" style="margin-left:16px;"/>
    <label for="chk_dirtyread" >Xử lý dirty read</label>
    <script>
        $("document").ready(function () {
            $("#chk_dirtyread").change(function () {

                $(".url-chitiet").each(function () {
                    var key = $(this).attr("data-key");
                    var url = $(this).attr("data-url");

                    console.log(key + " - " + url);

                    if (key == "false") {
                        $(this).attr("href", url + "&dirtyread=true");
                        $(this).attr("data-key", "true");
                        console.log("checked");
                    } else {
                        $(this).attr("href", url);
                        console.log("unchecked");
                    }

                    
                });
            });
        });
    </script>
</div>