@{
    ViewBag.Title = "Quản lý Thuê Căn Hộ";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<h2 class="dashboard-title">QUẢN LÝ THUÊ CĂN HỘ</h2>

<div class="editor-field">

    <div class="list-content">
        
        <table cellspacing="0" cellpadding="0">
            <tr>
                <th width="5%">
                    Mã
                </th>
                <th width="20%">
                    Tên Khách Hàng
                </th>
                <th width="20%">
                    Tên Căn Hộ
                </th>
                <th width="10%">
                    Tiền Cọc
                </th>
                <th width="10%">
                    Thời Gian Thuê
                </th>
                <th width="10%">
                    Thời Gian GD
                </th>
                <th width="10%">
                    Điện Thoại
                </th>
                <th width="10%">
                    &nbsp;
                </th>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Nguyễn Quốc Tuấn
                </td>
                <td>
                    Căn Hộ A
                </td>
                <td>
                    23.000.000
                </td>
                <td>
                    12/12/2013
                </td>
                <td>
                    12/12/2013
                </td>
                <td>
                    123456789
                </td>
                <td>
                    <a href="" class="list-edit-button" ><img src="@Url.Content("~/Content/images/edit.png")" /></a>
                    <a href="" class="list-delete-button" ><img src="@Url.Content("~/Content/images/del.png")" /></a>
                </td>
            </tr>
        </table>

        <div class="list-paging">
            <ul>
                <li>
                    <a href="" class="cur">1</a>
                </li>
                <li>
                    <a href="" >2</a>
                </li>
                <li>
                    <a href="" >3</a>
                </li>
                <li>
                    <a href="" >4</a>
                </li>
                <li>
                    <a href="" >5</a>
                </li>
            </ul>
        </div>

        
        
    </div>
    
</div>

